SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
LASTFM_API_KEY=your_lastfm_api_key_here
PULSE_CACHE_DIR=~/.pulse_cache
PULSE_CACHE_MAX_GB=2
HA_URL=http://localhost:8123
HA_TOKEN=your_home_assistant_long_lived_access_token_here
FAN_ENTITY=fan.ceiling_fan
LIGHT_ENTITY=light.ceiling_fan_light
